body {
    background-image: linear-gradient(to bottom, #709f83, #D0E8D0);
}

.box {
    background-color:azure;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    line-height: 10px;
}

.container {
    display: flex;  /* Enables flexbox */
    gap: 20px;  /* Adds space between the "HTML" and "CSS" boxes */
    justify-content: center; /* Centers the boxes */
    align-items: flex-start; /* Aligns items at the top */
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
    font-weight: normal;
}

p {
    text-align: center;
    font-weight: normal;
}

li {
    font-size: 22px;
    text-align: left;
    font-weight: normal;
    line-height: 40px;
}

#secao1 {
    background-color: #EAE0DA;
    animation-name: secao1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-left: 10px;
    margin-right: 10px;
}

#secao2 {
    background-color: #D5E3E8;
    animation-name: secao2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-left: 10px;
    margin-right: 10px;
}

#secao3 {
    background-color: #F7F5EB;
    animation-name: secao3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-left: 10px;
    margin-right: 10px;
}

#secao4 {
    background-color: #EAC7C7;
    animation-name: secao4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-left: 10px;
    margin-right: 10px;
}

#secaoX {
    animation-name: secaoX;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    margin-left: 15px;
    margin-right: 15px;
}

#secaoY {
    width: 900px;
    animation-name: secaoY;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    margin-left: 15px;
}

#secaoZ {
    width: 900px;
    animation-name: secaoZ;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    margin-right: 15px;
}

@keyframes secao1 {
    0% {background-color:#EAE0DA;}
    25% {background-color:#D5E3E8;}
    50% {background-color:#F7F5EB;}
    75% {background-color:#EAC7C7;}
    100% {background-color:#EAE0DA;}
}

@keyframes secao2 {
    0% {background-color:#D5E3E8;}
    25% {background-color:#F7F5EB;}
    50% {background-color:#EAC7C7;}
    75% {background-color:#EAE0DA;}
    100% {background-color:#D5E3E8;}
}

@keyframes secao3 {
    0% {background-color:#F7F5EB;}
    25% {background-color:#EAC7C7;}
    50% {background-color:#EAE0DA;}
    75% {background-color:#D5E3E8;}
    100% {background-color:#F7F5EB;}
}

@keyframes secao4 {
    0% {background-color:#EAC7C7;}
    25% {background-color:#EAE0DA;}
    50% {background-color:#D5E3E8;}
    75% {background-color:#F7F5EB;}
    100% {background-color:#EAC7C7;}
}

@keyframes secaoX {
    0% {background-color:#F8BBD0;}
    33% {background-color:#A8D5BA;}
    66% {background-color:#B3CDE0;}
    100% {background-color:#F8BBD0;}
}

@keyframes secaoY {
    0% {background-color:#B3CDE0;}
    33% {background-color:#F8BBD0;}
    66% {background-color:#A8D5BA;}
    100% {background-color:#B3CDE0;}
}

@keyframes secaoZ {
    0% {background-color:#A8D5BA;}
    33% {background-color:#B3CDE0;}
    66% {background-color:#F8BBD0;}
    100% {background-color:#A8D5BA;}
}